
/* Declaring custom properties */
:root {
  --potato-height: 400px;
  --potato-width: 400px;
}

* { box-sizing: border-box; }

#playground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
  background-color: white;
  border: thin solid gray;
}

.potato {
  /* centramos verticalmente la patata */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la patata */
  height: var(--potato-height);
  width: var(--potato-width);
}
.hat {
  height: 30px;
  width: 200px;
  background-color: black;
  top: -15px;
  margin: 0 auto;
  border: 2px black solid
}
.hat1 {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: -7em;
  left: 145px;
  border: 2px black solid
}
.head {
  height: 550px;
  width: 400px;
  border-radius: 50%;
  background-color: brown;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.ears {
  height: 250px;
  width: 150px;
}
.ears> .right-ear {
  height: 250px;
  width: 150px;
  border-radius: 50%;
  background-color: #e3d254;
  position:relative;
  left: 320px;
  top: -490px;
  position: relative;
}
.ears> .left-ear {
  height: 250px;
  width: 150px;
  border-radius: 50%;
  background-color: #e3d254;
  position:relative;
  right: 80px;
  top: -738px;
  position: relative;
}
.eyes {
  /* centramos verticalmente los ojos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los ojos */

  top: 5em;
  z-index: 3;
}

.eye {
  position: relative;
  height: 150px;
  width: calc(var(--potato-width) / 3);
  border-radius: 5em;
  background-color: white;
  border: thin solid black;
}

.pupil {
  height: calc(var(--potato-height) / 5);
  width: calc(var(--potato-width) / 5);
  border-radius: 5em;
  border: thin solid black;
  background-color: blue;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

.left-eye {
  left: 2em;
  float: left;
}

.right-eye {
  right: 2em;
  float: right;
}
.nose {
  height: 150px;
  width: 150px;
  border-radius: 70%;
  background-color: #e31e17;
  left: 123px;
  top: -600px;
  position: relative;
  z-index: 1;
}
.moustache {
  height: 65px;
  width: 105px;
  background-color: black;
  bottom: -15px;
  left: 143px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
}
.moustache1  {
  height: 70px;
  width: 100px;
  background-color: black;
  bottom: -41px;
  left: 225px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
  transform:rotate(30deg);
}
.moustache2 {
  height: 70px;
  width: 100px;
  background-color: black;
  bottom: -38px;
  right: 225px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
  transform:rotate(-30deg);
}
.mouth {
  height: 125px;
  width: 150px;
  border-radius: 90%;
  background-color: #e31e17;
  left: 130px;
  top: -550px;
  position: relative;
  z-index: 1;
}
.teeth {
  height: 35px;
  width: 35px;
  background-color: white;
  bottom: -55px;
  left: 152px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
}
.teeth2 {
  height: 35px;
  width: 35px;
  background-color: white;
  bottom: -55px;
  left: 210px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
}
.teeth3 {
  height: 35px;
  width: 35px;
  background-color: white;
  bottom: -125px;
  left: 152px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
}
.teeth4 {
  height: 35px;
  width: 35px;
  background-color: white;
  bottom: -125px;
  left: 210px;
  margin: 0 auto;
  border: 2px black solid;
  position: absolute;
  z-index: 10;
}
.shoes > .left-shoe {
     width: 100px;
     height: 50px;
     border: 2px solid #555;
     background: #5cb85c;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 100px 100px 0 0;
     bottom: -145px;
position: absolute;
}
.shoes > .right-shoe {
  width: 100px;
  height: 50px;
  border: 2px solid #555;
  background: #5cb85c;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
  bottom: -140px;
  right: -10px;
position: absolute;
}
